@import "./globals.scss";

body {
  font-family: 'Open Sans', sans-serif;
}

// globals, resets
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

// components
button, .button {
  border: 2px solid;
  padding: 13px 30px;
  background-color: transparent;
  color: white;
  font-weight: $semi-bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;

  &.button-yellow {
    border-color: $yellow;
  }

  &.button-borderless {
    border-color: transparent;
  }
}

.sectionTitle {
  font-weight: $bold;
  font-size: 16px;
}

// layout
section {
  background-color: $black;
  min-height: 100vh;
  min-width: 176px;
  padding: 50px 30px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;

}

// specifics
.titles {
  margin: 0;
  color: $light-gray;
}

.logo {
  max-width: 70vw;
}

.my-work {
  background-color: $yellow;

  li {
    margin-bottom: 30px;
  }

  a {
    font-size: 40px;
    font-weight: $extra-bold;
    color: white;
    opacity: .4;
    text-decoration: none;
  }

  a:hover {
    opacity: 1;
  }

  button {
    border-color: white;
  }
}

.about-me {
  h2 {
    color: $yellow;
  }
}

.profile-pic {
  width: 250px;
}
