@import "./globals";

$CASE_STUDY_WIDTH: 1080px;

.CaseStudy {
  text-align: center;
  background-color: $black;
  color: white;
}

.CaseStudy__hero {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-position: top center;
  background-size: cover;

  h1 {
    font-size: 32px;
    font-weight: $extra-bold;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 16px;
    font-weight: $bold;
    margin-top: 0;
  }
}

.CaseStudy__hero-disney {
  background-position: bottom right;
}


.CaseStudy__hero, .CaseStudy__content {
  position: relative;
  padding: 0 44px;
}

.CaseStudy__back {
  position: absolute;
  text-align: left;
  top: 24px;

  padding: 0;
  border: none;

  color: white;
  text-decoration: none;
  font-weight: $bold;
}

.CaseStudy__device {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
}

.CaseStudy__device-misc {
  width: 120px;

  @media only screen and (min-width: 768px) {
    width: 200px;
  }
}

.CaseStudy__summary {
  color: $yellow;
  letter-spacing: 2;
  font-size: 16px;
  font-weight: $semi-bold;
  padding-top: 180px;

  @media only screen and (min-width: 768px) {
    padding-top: 280px;
  }
}

.CaseStudy p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.CaseStudy__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px auto 0;
  max-width: 700px;
}

.CaseStudyStat {
  text-align: left;
  width: 150px;
  margin-bottom: 40px;
}

.CaseStudyStat__label {
  color: $yellow;
  font-weight: $semi-bold;
}

.CaseStudy__line {
  width: 55px;
  margin-left: 0;
  border: 2px solid $yellow;
}

.CaseStudySection {
  position: relative;
  margin: 80px auto;
  max-width: $CASE_STUDY_WIDTH;

  .CaseStudy__line {
    box-shadow: 2px 2px 8px #222;
  }
}

.CaseStudySection__label {
  position: absolute;
  padding-bottom: 10px;
  padding-right: 20px;
  top: 0;
  left: 0;

  transform: translate(-20px, -30%);
  text-shadow: 2px 2px 8px #222;
  background: transparent;
}

.CaseStudySection__title {
  font-size: 32px;
  font-weight: $extra-bold;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

.masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.CaseStudySection img {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.CaseStudy__image {
  display: block;
  width: 100%;
  max-width: $CASE_STUDY_WIDTH;
  margin: 80px auto 120px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
  max-width: $CASE_STUDY_WIDTH;
  margin: 80px auto;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

