@import "./globals";

.CaseStudy {
  text-align: center;
  background-color: $black;
  color: white;
}

.CaseStudy__hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-position: top right;
  background-size: cover;
  background-image: url("/img/disney/background.png");

  h1 {
    font-size: 40px;
    font-weight: $extra-bold;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 16px;
    font-weight: $bold;
    margin-top: 0;
  }
}


.CaseStudy__hero, .CaseStudy__content {
  position: relative;
  padding: 0 24px;
}

.CaseStudy__back {
  position: absolute;
  text-align: left;
  top: 24px;

  padding: 0;
  border: none;
}

.CaseStudy__device {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translate(10%, -50%);
  width: 90%;
}

.CaseStudy__summary {
  color: $yellow;
  letter-spacing: 2;
  font-size: 16px;
  font-weight: $semi-bold;
  padding-top: 180px;
}

.CaseStudy__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.CaseStudyStat {
  text-align: left;
  width: 120px;
  margin-bottom: 40px;
}

.CaseStudyStat__label {
  color: $yellow;
  font-weight: $semi-bold;
}

.CaseStudyStat__line {
  width: 55px;
  margin-left: 0;
  border: 2px solid $yellow;
}
