// colors
$black: #1e1e1e;
$yellow: #faaf40;
$light-gray: #cecece;

// globals, resets
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

// components
button {
  border: 2px solid;
  padding: 13px 30px;
  background-color: transparent;
  color: white;
}

// layout
section {
  background-color: $black;
  min-height: 100vh;
  padding: 50px 30px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;

}

// specifics
.hero {
  button {
    border-color: $yellow;
  }
}

.titles {
  margin: 0;
  color: $light-gray;
}

.logo {
  max-width: 70vw;
}

.my-work {
  background-color: $yellow;

  li {
    margin-bottom: 30px;
  }

  a {
    font-size: 40px;
    font-weight: bold;
    color: white;
    opacity: .4;
    text-decoration: none;
  }

  button {
    border-color: white;
  }
}
